global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'supabase_exporter'
    scheme: https
    static_configs:
      - targets: ['postgres-exporter-codapp.up.railway.app']
